@media all {
  .page-break {
    display: none;
  }
}

@media print {
  html, body {
    height: initial !important;
    overflow: initial !important;
    -webkit-print-color-adjust: exact;
  }
}

@media print {
  .page-break {
    margin-top: 1rem;
    display: block;
    page-break-before: auto;
  }
}

@page {
  size: auto;
  margin: 5mm;
}

.app-wrapper {
  margin: auto;
  width: 1400px;
}

.allHeader {
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 999;
  display: grid;
  padding-bottom: 10px;
  grid-template-rows: 110px 40px;
  grid-template-columns: 2fr 7.5fr 2.5fr;
  grid-gap: 10px;
  grid-template-areas:
  "h h hr"
  "nb nb hr";
}

.app-wrapper-content {
  grid-area: p;
  padding: 0 5px 5px 5px;
}

.app-wrapper-content-with-sidebar {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-rows: 1fr;
  grid-template-areas: "sb c";
}

.content {
  grid-area: c;
}

.sidebar {
  grid-area: sb;
}

.preloader {
  margin: auto;
  width: 200px;
  padding-top: 250px;
}