.app-wrapper {
  margin: auto;
  display: grid;
  width: 1400px;
  grid-template-rows: 110px 40px 1fr;
  grid-template-columns: 2fr 8fr 2fr;
  grid-gap: 10px;
  grid-template-areas:
  "h h hr"
  "nb nb hr"
  "p p p";
}

.app-wrapper-content {
  grid-area: p;
  padding: 0 5px 5px 5px;
}

.app-wrapper-content-with-sidebar {

  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  grid-template-rows: 1fr;
  grid-template-areas: "sb c";
}

.content {
  grid-area: c;
}

.sidebar {
  grid-area: sb;
}

.auth-wrapper {
  padding-top: 100px;
  margin: auto;
  width: 300px;
}

.authBlock {
  width: 300px;
  height: 170px;
  background-color: #eceff1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.errorBlock {
  padding-top: 20px;
}