/* комментарии */
.commentsBlock {
    background-color: #607d8b;
    grid-area: commentsBlock;
    display: flex;
    flex-direction: column;
    transition: height 0.3s linear;

}

.commentHeaderManager {
    background-color: #607d8b;
    justify-content: flex-start;
    height: 20px;
    display: grid;
    grid-template-columns: 5fr 6fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "commentTitleManager lengthTextManager cancelEditManager editCommentManager";
}
.commentHeaderHead {
    background-color: #607d8b;
    justify-content: flex-start;
    height: 20px;
    display: grid;
    grid-template-columns: 5fr 6fr 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "commentTitleHead lengthTextHead cancelEditHead editCommentHead";
}

.cancelEditManager {
    grid-area: cancelEditManager;
}
.cancelEditHead {
    grid-area: cancelEditHead;
}
.cancelEditManager,
.cancelEditHead {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0bec5;
    font-size: 10px;
}

.cancelEditManager:hover,
.cancelEditHead:hover {
    background-color: #263238;
    cursor: pointer;
    color: #b0bec5;
}

.cancelEditManager:active,
.cancelEditHead:active {
    background-color: #b0bec5;
    color: #263238;
}

.lengthTextManager {
    grid-area: lengthTextManager;
    font-size: 10px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
}

.lengthTextHead {
    grid-area: lengthTextHead;
    font-size: 10px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;
}

.currentLengthText {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263238;
    color: #b0bec5;
}

.displayNone {
    display: none;
}

.errorText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    color: red;
}

.commentTitleManager {
    grid-area: commentTitleManager;
}

.commentTitleHead {
    grid-area: commentTitleHead;
}

.commentTitle {
    height: 20px;
    padding: 3px 0 0 10px;
    font-size: 13px;
    color: #263238;
    position: relative;
}

.commentManager {
    grid-area: commentManager;
    height: 35px;
}

.commentHead {
    grid-area: commentHead;
    height: 35px;
}

.commentHead input{
    font-size: 10px;
}

.comment {
    padding: 5px 20px;
    color: white;
    font-size: 13px;
    transition: height 0.3s linear;
    background-color: #607d8b;
}

.commentClear {
    height: 0;
}

.editCommentManager {
    grid-area: editCommentManager;
}

.editCommentHead {
    grid-area: editCommentHead;
}

.editComment {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #b0bec5;
    font-size: 10px;
    text-transform: uppercase;
    color: #263238;
}

.editComment:hover {
    background-color: #263238;
    cursor: pointer;
    color: #b0bec5;
}

.editComment:active {
    background-color: #b0bec5;
    color: #263238;
}


.loadingComment {
    position: absolute;
    top: 5px;
    right: -15px;
    z-index: 999;
}