.profileBlock {
    display: grid;
    grid-gap: 4px;
    grid-template-columns: auto 80px;
    grid-template-rows: 24px 24px 24px 1fr 1fr;
    grid-template-areas: "position avatar"
                         "name avatar"
                         "email avatar"
                         "alertStatuses btnExit"
                         "btnActionsBlock clockBlock";
    padding: 5px;
    height: 100%;
}
.alertStatuses {
    grid-area: alertStatuses;
    display: flex;
    margin: 3px 0;
}

.noDone,
.noDelivered,
.icon,
.count {
    display: flex;
    justify-content: center;
    align-items: center;
}

.noDone {
    width: 50%;
    display: flex;
    background-color: #607d8b;
    border-radius: 5px;
    margin-left: 3px
}

.noDoneOn {
    background-color: #d32f2f;
}

.noDelivered {
    width: 50%;
    display: flex;
    background-color: #607d8b;
    border-radius: 5px;
    margin-left: 3px
}

.noDeliveredOn {
    background-color: #f57c00;
}

.icon {
    width: 50%;
}

.count {
    width: 50%;
}

.name,
.email,
.position {
    display: flex;
    justify-content: center;
    align-items: center;
}

.name,
.email {
    font-size: 12px;
}

.name {
    grid-area: name;
    border-bottom: #607d8b 1px solid;
}

.email {
    grid-area: email;
}

.position {
    background-color: #607d8b;
    grid-area: position;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    border-radius: 4px;
}

.avatar {
    grid-area: avatar;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

.clockBlock {
    grid-area: clockBlock;
    font-size: 11px;
    text-align: center;
    line-height: 11px;
    margin-bottom: 0px;
}

.btnExit {
    grid-area: btnExit;
    width: 80px;
}
.btnActionsBlock {
    grid-area: btnActionsBlock;
    display: flex;
}

.btnActionsBlock a{
    color: #607d8b;
    font-size: 12px;
    width: 100%;
}

.btnAction {
    display: flex;
    justify-content: center;
    align-items: center;

}

.btnAction:hover {
    color: #455a64;
    cursor: pointer;
}