.providerInvoice {
    background-color: #b0bec5;
    height: 100px;
    display: grid;
    grid-template-rows: 4fr 1fr;
    color: #263238;
}

.nameCompany {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.sum {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 11px;
}