.centerBlockItemsContainer {
    background-color: #b0bec5;
    height: 100px;
    color: #263238;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}

.centerBlockItemsContainer:hover {
    background-color: #263238;
    color: #b0bec5;
    cursor: pointer;
}

.centerBlockItemsContainer:active {
    background-color: #607d8b;
    color: #263238;
}

.nameCompany {
    text-align: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sum {
    text-align: center;
    font-size: 10px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 3px;
}

.deleteBtnArea {
    position: absolute;
    display: flex;
    width: 100%;
    padding-top: 5px;
}

.askDelete {
    display: flex;
    width: 100%;
}
.confirm {
    width: 50%;
    text-align: center;
}
.cancel {
    width: 50%;
    text-align: center;
}
.delete {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 5px;
}
.hide {
    display: none;
}

.confirm:hover,
.cancel:hover,
.delete:hover {
    color: #607d8b;
}

.viewBtnArea {
    position: absolute;
    top: 25px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 5px;
    z-index: 999;
}

.smallFont {
    font-size: 10px;
}

.image img{
    height:650px;
}

.noZoom img:hover{
    cursor: zoom-in;
}

.zoom img{
    height:100%;
}
.zoom img:hover{
    cursor: zoom-out;
}