.driver {
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 30px;
    margin-bottom: 7px;
    font-size: 13px;
}

.driverName {
    background-color: #607d8b;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 3px 5px;
    color: white;
}

.sum {
    background-color: #b0bec5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px;
    font-weight: bolder;
    color: #263238;
}